@use "../../../styles/variables.scss";
.input-wrapper{
    color: variables.$text-color;
    font-size: 16px;
    text-align: start;

    label {
        margin-bottom: 10px;
    }

    .input-content{
        width: 100%;
        border-radius: 8px;
        display: flex;
        overflow: hidden;
    }

    .icon{
        padding: 12px;
        background-color: variables.$primary-color;

        img{
            height: 20px;
        }
    }
    input {
        border-radius: 8px;
        border: none;
        background: variables.$gray-secondary-bg;
       
        padding: 12px 0 12px 20px;
        width: 100%;
    }

}