<app-default-login-layout
title="Login into you account"
primaryBtnText="Login Now"
secondaryBtnText="Signup Now"
(submit)="submit()"
(navigate)="navigate()"
[disablePrimaryBtn]="!loginForm.valid"
>
<form [formGroup]="loginForm">
    <app-primary-input 
    formControlName="email"
    label="Email"
    inputName="email"
    type="email"
    placeHolder="seumelhoremail@hotmail.com"
    >
        <img src="Frame.svg" alt="">
    </app-primary-input>

    <app-primary-input 
    formControlName="password"
    label="Password"
    inputName="password"
    type="password"
    placeHolder="Your password"
    >
        <img src="Frame.svg" alt="">
    </app-primary-input>
    
    <span>Forgot password?</span>
    
</form>
</app-default-login-layout>